/* ViewTab */

.m-tab{
  margin: 20px;
}

.m-tab span{
  padding: 5px 10px;
  margin: 10px;
}

.m-tab span.active{
  background-color:#007bff;
}
.m-tab span.active a{
  color:#fff;
}
 

/* category */
.category-item{
  cursor: pointer;
  background: #007bff;
  color: #fff;
  padding: 10px 0;
  margin: 20px 0;
  outline: 5px solid #fff;
}
.category-item.active{
  color: #007bff;
  background: #efefef;
}